/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@600&display=swap" rel="stylesheet" ');
@import url('https://fonts.maateen.me/kalpurush/font.css');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@1&family=Grenze+Gotisch:wght@600&family=Josefin+Sans:ital,wght@0,500;0,700;1,600&family=Kanit:wght@300&family=PT+Serif:ital@1&family=Phudu:wght@700&family=Poppins:ital,wght@0,500;0,900;1,500&display=swap');
/* 
    Created on : Jul 24, 2023, 1:32:54 AM
    Author     : vaska
*/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
}
body{margin:0px;padding: 0px;font-size:16px;height: auto;}
.mainwrapper{
    display: grid;
    grid-template-rows:30px 80px 70px 40px auto ;
    grid-template-columns: 1fr;
    grid-gap:0px;
    grid-auto-rows: 300px;
    padding:0px;
    margin: 0px;
}
.whatsapp{grid-row: 1/2;grid-column: 1/-1;width:100%;background-color:darkblue;text-align: right;padding:3px;color:white;position: relative;display: flex;justify-content: center;align-items: center;}
.whatsapp .logowrapper {position: absolute;right:10px;}
.whatsapp .logowrapper .wapplogo{margin-right:5px;}
.whatsapp .logowrapper span{font-size: 0.9rem;font-family: 'Sofia Sans Condensed', sans-serif;}
.whatsapp .logowrapper .wapplogo i{border-radius: 50px;margin-right:5px;}
.whatsapp .logowrapper .emaillogo{margin-right: 5px;}
.whatsapp .logowrapper .emaillogo i{margin:0px 5px;}
.whatsapp .logowrapper a{color:white;text-decoration: none;font-size: .8rem;margin:0px 0px;}
.a{ grid-row: 2/3;grid-column: 1/-1;background-color: white;padding:20px 0px;margin:0px;position:relative;}
.wrapper{grid-row:3/4;grid-column: 1/-1;background-color:green;font-family: 'Poppins', sans-serif;display: flex;align-items: center;justify-content: center;}
.c{grid-row:4/5;grid-column: 1/-1;background-color:whitesmoke;color:maroon;display:flex;align-items: center;justify-content: center;font-family: 'Kalpurush', sans-serif;}
 marquee{font-family: 'Kalpurush', sans-serif;}
.d{grid-row:5/6;grid-column:1/-1;background-color:gray;}
 footer{grid-row:6/7;grid-column:1/-1;background-color:gray;}
.copyrights{grid-row:7/8 ; grid-column: 1/-1;background-color:#003366;color:white;text-align: center;padding:10px;font-size: .6em;}
 iframe{margin: 0px;padding:0px;width:100%;height:calc(100vh - 224px);background-color: white;}

.wrapper nav{
  position: relative;
  display: flex;
  max-width: calc(100% - 200px);
  margin: 0 auto;
  font-family: 'Poppins', sans-serif;
  align-items: center;
  justify-content: space-between;
  
}
nav .content{
  display: flex;
  align-items: center;
  
}
nav .content .links{
  margin-left: 80px;
  display: flex;
}
.content .logo a{
  color: #fff;
  font-size: 30px;
  font-weight: 600;
}
.content .links li{
  list-style: none;
  line-height: 60px;
}
.content .links li a,
.content .links li label{
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  padding: 12px 17px;
  border-radius: 5px;
  transition: all 0.3s ease;
}
.content .links li label{
  display: none;
}
.content .links li a:hover,
.content .links li label:hover{
  background: #323c4e;
}
.wrapper .search-icon,
.wrapper .menu-icon{
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  line-height: 60px;
  width: 70px;
  text-align: center;
}
.wrapper .menu-icon{
  display: none;
}
.wrapper #show-search:checked ~ .search-icon i::before{
  content: "\f00d";
}

.wrapper .search-box{
  position: absolute;
  height: 70%;
  max-width: calc(100% - 50px);
  width: 100%;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}
.wrapper #show-search:checked ~ .search-box{
  opacity: 1;
  pointer-events: auto;
}
.search-box input{
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 17px;
  color: white;
  background: green;
  padding: 0 100px 0 15px;
}
.search-box input::placeholder{
  color: #f2f2f2;
}
.search-box .go-icon{
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  line-height: 40px;
  width: 50px;
  height:40px;
  background:green;
  border: none;
  outline: none;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}
.wrapper input[type="checkbox"]{
  display: none;
}

/* Dropdown Menu code start */
.content .links ul{
  position: absolute;
  background: #171c24;
  top: 0px;
  z-index:10;
  opacity: 0;
  visibility: hidden;
}
.content .links li:hover > ul{
  top: 60px;
  opacity: 1;
  visibility: visible;
  transition: all 0.3s ease;
  background: #171c20;
}
.content .links ul li a{
  display: block;
  width: auto;
  line-height: 10px;
  border-radius: 0px!important;
  border-bottom: 1px solid gray;
  
}
.content .links ul ul{
  position: absolute;
  top: 0;
  left: calc(100% );
  font-size: 10px;
  
}
.content .links ul ul li a{color:white;}
.content .links ul li{
  position: relative;
}

.content .links ul li:hover ul{
  top: 0;
  color:white;
}
.lastlavel{border-bottom: 0px solid gray;padding:2px 6px;color: white; background-color: black;}
.sulist li{position: relative;padding: 0px; border-bottom: 1px solid gray;width:300px;margin-left:0px;padding-left: 10px;}
.sulist li .Slist {color:white;font-size: 8px;position: absolute;left:100%;}
.sulist li .Slist li{padding: 0px; border-bottom: 1px solid gray;width:300px;margin-left:0px;padding-left: 10px;}
.sulist .Slist{color:white;font-size: 8px;}

.Slist li:hover{background-color: white;color:black;transition: .2s;}
.sulist:hover  > .Slist{color:white;line-height: 0px;background: whitesmoke;}

.a img{width:40px;height:40px;border-radius: 100%;}

.a .bng{width:100%;padding:0;font-size: 1.4em;text-align:center;color:green;margin: 0;font-weight: 900;font-family: 'Kalpurush', Arial, sans-serif !important;}
.a .cname1{ color:tomato;
                 text-shadow: 10px 10px 10px gray;
                 letter-spacing: 0px;
	font-size: 1em;	
	padding: 0 5px;
	font-weight: 900;
       font-family: 'Times New Roman', sans-serif;
       width:100%;
        text-transform:uppercase;
        letter-spacing: 2px;       
       text-align: center;      
       margin-top: 5px;
       
 }
 .c marquee a{text-decoration: none;color:maroon;font-family: 'Kalpurush', Arial, sans-serif !important;font-size: 14px;}
span{margin-left: 10px;}

/* Responsive code start */
@media screen and (max-width: 1250px){
    
  .wrapper nav{
    max-width: 100%;
    padding: 0 20px;
  }
  nav .content .links{
    margin-left: 30px;
  }
  .content .links li a{
    padding: 8px 13px;
  }
  .wrapper .search-box{
    max-width: calc(100% - 100px);
  }
  .wrapper .search-box input{
    padding: 0 100px 0 15px;
  }
}
.a .cname1{font-size: 22px;}
.a .bng{font-size: 22px;}

@media screen and (max-width: 900px){
    .mainwrapper{
    display: grid;
    grid-template-rows:30px 50px 40px 30px auto ;
    grid-template-columns: 1fr;
    grid-gap:0px;
    grid-auto-rows: 300px;
    padding:0px;
    margin: 0px;
}
.a{padding:5px;}
  .content .logo a{
  color: #fff;
  font-size: 22px;
  font-weight: 600;
}  
  .a img{width:30px;height:30px;border-radius: 100%;}
  .a  .cname1{ 
                letter-spacing: 0px;
	font-size: .7em;	
	padding: 0 3px;
	font-weight: bold;
        font-family: 'Times New Roman', sans-serif;       
        text-transform:uppercase;
        letter-spacing: 2px;
 }
 .a .bng{font-size:1em;}
  .wrapper .menu-icon{
   display: block;
  }
  .wrapper #show-menu:checked ~ .menu-icon i::before{
    content: "\f00d";
  }
  nav{width:100%;}
  nav .content{width:100%;}
  
  nav .content .links{
    display: block;
    position: fixed;
    background: #14181f;
    height: 100%;
    width: 100%;
    top: 118px;
    left: -100%;
    margin-left: 0;
    max-width: 350px;
    overflow-y: auto;
    padding-bottom: 100px;
    transition: all 0.3s ease;
    z-index: 9;
  }
  .content .links li{
  list-style: none;
  line-height: 70px;
}
  nav #show-menu:checked ~ .content .links{
    top:120px;
    left: 0%;
    font-size: 1em;
  }
  .content .links li{
    margin: 15px 10px;
  }
  .content .links li a,
  .content .links li label{
    line-height: 30px;
    font-size: 16px;
    display: block;
    padding: 4px 18px;
    cursor: pointer;
  }
  .content .links li a.desktop-link{
    display: none;
  }
 .content .links li a.desktop-link1{
    display: none;
  }
  /* dropdown responsive code start */
  .content .links ul,
  .content .links ul ul{
    position: static;
    opacity: 1;
    visibility: visible;
    background: none;
    max-height: 0px;
    overflow: hidden;
  }
 #show-servicesLavel1:checked ~ ul,
 #show-servicesLavel2:checked ~ ul, 
 #show-servicesLavel3:checked ~ ul, 
 #show-servicesLavel4:checked ~ ul, 
 #show-servicesLavel5:checked ~ ul, 
 #show-servicesLavel6:checked ~ ul, 
 #show-servicesLavel7:checked ~ ul, 
 #show-servicesLavel8:checked ~ ul, 
 #show-servicesLavel9:checked ~ ul, 
 #show-servicesLavel10:checked ~ ul,
  #show-services1:checked ~ ul,
  #show-services2:checked ~ ul,
  #show-services3:checked ~ ul,
  #show-services4:checked ~ ul,
  #show-services5:checked ~ ul,
  #show-services6:checked ~ ul,
  #show-services7:checked ~ ul,
  #show-services8:checked ~ ul,
  #show-services9:checked ~ ul,
  #show-services10:checked ~ ul,
  #show-services11:checked ~ ul,
  #show-services12:checked ~ ul,
  #show-services101:checked ~ ul,
   .content .links #show-services61:checked ~ ul,
   .content .links #show-services3:checked ~ ul,
  .content .links #show-features:checked ~ ul,
  .content .links #show-services:checked ~ ul,
  .content .links #show-services1:checked ~ ul,
   .content .links #show-services2:checked ~ ul,
  .content .links #show-items:checked ~ ul{
    max-height: 100vh;
  }
  .lastlvl{display: none;}
  .content .links ul li{
    margin: 7px 20px;
  }
  .content .links ul li a{
    font-size: 16px;
    line-height: 30px;
    border-radius: 5px!important;
  }
   .whatsapp .logowrapper {position: absolute;right:5px;}
   .whatsapp .logowrapper .wapplogo span{display: none;}
   .whatsapp .logowrapper .emaillogo span{display: none;}
   .whatsapp .logowrapper .wapplogo i{border-radius: 50px;margin:0px 0px;}
   .whatsapp .logowrapper .emaillogo i{margin-right: 0px;margin:0px 0px;}
}

@media screen and (max-width: 400px){
   .a img{width:30px;height:30px;border-radius: 100%;}
    .cname1{ 
                letter-spacing: 0px;
	font-size: .7em;	
	padding: 0 5px;
	font-weight: bold;
       
        
        text-transform:uppercase;
        letter-spacing: 1px;
 }
.a .bng{font-size: 14px;}
  .wrapper nav{
    padding: 0 10px;
  }
  .content .logo a{
    font-size: 27px;
  }
  .wrapper .search-box{
    max-width: calc(100% - 70px);
  }
  .wrapper .search-box .go-icon{
    width: 30px;
    right: 0;
  }
  .wrapper .search-box input{
    padding-right: 30px;
  }
}

.dummy-text{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  z-index: -1;
  padding: 0 20px;
  text-align: center;
  transform: translate(-50%, -50%);
}
.dummy-text h2{
  font-size: 45px;
  margin: 5px 0;
}
